
/* .navigation-toggle {
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
} */

.navigation-current-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: scale(0.83);
  left:85%;
  width: 23%;
  position: fixed;
}

.profile-picture{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
}

.navigation-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 45%;
  position: fixed;
}

.navigation {
  background-color:white;
  width: 100%;
  height: 40px;
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
}